---
const apiHost: string = `${import.meta.env.FLOWISE_API_HOST}`
const chatflowid: string = `${import.meta.env.FLOWISE_CHATFLOW_ID}`
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Flowise Test</title>
	</head>
	<body>
		<slot />
        <script is:inline type="module">
            import Chatbot from './web.js';
            Chatbot.initFull({
                chatflowid: '<chatflowid>',
                apiHost: 'http://localhost:3000',
				theme: {
					chatWindow: {
						showTitle: true
					}
				}
            });
        </script>
    </body>
</html>
