---
import { Image } from 'astro:assets'

import BaseLayout from '../layout/BaseLayout.astro'
// import FlowiseChat from '../components/FlowiseChat'

import image from '../assets//flowise-view-messages.png'

const apiHost: string = `${import.meta.env.FLOWISE_API_HOST}`
const chatflowid: string = `${import.meta.env.FLOWISE_CHATFLOW_ID}`
---

<BaseLayout>
	<main class='container max-w-[40rem] px-8 pb-12 md:mx-auto md:px-0'>
		<div class='ml-0 mt-16 text-[1.75rem] leading-8'>Hello, there!</div>

		<div class='ml-0 mt-[3.75rem] text-lg leading-[1.875rem]'>
			This is a test page for an ELI5 (Explain Like I'm 5) chatbot built
			with <a href='https://flowiseai.com/'>Flowise</a>, built to showcase
			the feedback functionality for messages sent by the chatbot.
		</div>

		<div class='ml-0 mt-[2rem] text-lg leading-[1.875rem]'>
			<h2 class='text-xl font-semibold'>Details:</h2>
		</div>

		<div class='ml-0 mt-4 text-lg leading-[1.875rem]'>
			Go ahead and give the chatbot a shot. Click on the chat widget and
			input a hard concept. Here are some examples:
			<ul class='ml-7 list-disc'>
				<li>AI</li>
				<li>Fermi's Paradox</li>
				<li>Occam's Razor</li>
				<li>Laws of Thermodynamic</li>
			</ul>
		</div>

		<div class='ml-0 mt-4 text-lg leading-[1.875rem]'>
			Then go to the Flowise dashboard and check the view messages dialog
			for the ELI5 chatflow.
		</div>

		<div class='ml-0 mt-4 text-lg leading-[1.875rem]'>Have fun!</div>

		<style>
			a {
				color: #0029ff;
				text-decoration: underline;
			}

			a:visited {
				color: #bc48d9;
			}
		</style>
	</main>
	<!--<FlowiseChat client:load apiHost={apiHost} chatflowid={chatflowid} />-->
		<div style="display: flex; justify-content: center;">
			<div style="border: 2px solid black">
				<flowise-fullchatbot></flowise-fullchatbot>
			</div>
		</div>
		<script type="module">
			import Chatbot from "https://cdn.jsdelivr.net/npm/flowise-embed/dist/web.js"
			Chatbot.initFull({
				chatflowid: "96440b4e-bf63-499d-bb95-01df99063bb9",
				apiHost: "https://flowise-main.up.railway.app",
				theme: {
					chatWindow: {
						width: 800,
						height: 500,
					}
				}
			})
		</script>
</BaseLayout>
